*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    }
$background_nav_color: #323232;
$background_main_color: #FAFAFA;
header{
    background-color: $background_main_color;
}
.main-nav-home{
    background-color: $background_nav_color;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.main-nav-home img{
    align-self: center;
    margin-top: 3%;
    width: 12.5rem;
}
.nav-text{
    display: flex;
    margin-top: 4%;
    text-align: center;
    justify-content: space-around;
}

.nav-text a {
    text-decoration: none;
    color: $background_main_color;
    width: 50%;
    padding-bottom: 3%;
}

#under-line {
    border-bottom: solid $background_main_color 5px;
}

.main-jumbo{
    position: relative;
}
.main-jumbo img{
    margin: 0;
    width: 100%;
}
.jumbo-hero{
    position: absolute;
    top: 38%;
    left: -14%;
    width: 100%;
    text-align: center;
    color: #FAFAFA;
    font-weight: bold 700;
    line-height: 4.25rem;
    font-size: 1rem;

}

.middle-section{
    margin: 3.5%;
}

.band-information img{
    width: 100%;
}

.band-information h2{
margin-top: 4%;
margin-bottom: 2%;
}

.band-information p {
    margin-bottom: 7%;
}

.start-text{
    margin-bottom: 5.5%;
    margin-top: 4%;
}

.main-band-text h2{
    margin-bottom: 3%;
}

.band-text-one p {
    margin-bottom: 4%;
}

.pictures-home{
    margin: 3.5%;
}

.gallery-main{
    display: flex;
    flex-direction: column;
}

.gallery-main h2{
    margin-top: 3%;
    margin-bottom: 3%;
}

.home-gallery{
    margin: 0;
}

.home-gallery img{
    width: 100%;
    padding-top: 4%;
}

.footer-main-content{
    display: flex;
    flex-direction: column;
    background-color: $background_nav_color;
    color: $background_main_color;
}

.foot-bar-main{
    margin: 3.5%;
}

.foot-bar-main h2{
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.foot-bar-main img{
    margin-right: 7%;
    width:4%;
}


.foot-bar-middle p{ 
    margin: 3.5%;
    width: 40%;
    font-family: 'Avernir';
    font-weight: Regular 400;
    line-height: 1.2rem;
    font-size: 1rem;
}

#max-width{
    width: 60%;
    margin-top: -1.5%;
}

#spc-width{
    width: 40%;
    margin-top: -2%;
}

.foot-bar-last{
    margin: 3.5%;
    width: 100%;
}

.foot-bar-last img{
    margin-bottom: 4%;
}

#america-szn{
    width: 60%;
    text-align: left;
    margin-top: -3%;
} 

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    body{
      font-family: 'Avenir';
    }
    .main-nav-home{
      display: flex;
      flex-direction: row;
      padding: 1% 2% 0% 4%;
      width:100%;
    }
    .main-nav-home img{
      margin-bottom: 2%;
      width: 25%;
    }
  
    .nav-text{
      display: flex;
      width: 30%;
      margin-left: 5%;
    }
    .nav-text a{
      font-size: 1rem;
      padding-bottom: 8%;
      font-family: 'Avenir';
    }
    #under-line{
      border-bottom: solid #fafafa 0.2rem;
      width: fit-content;
      margin-left: 5%;
    }
    .middle-section{
      margin: 2% 13% 1% 13%;
    }
    .jumbo-hero{
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%;
      font-size: 3rem;
      color: #FAFAFA;
    }
    .start-text h2{
      font-size: 2.25rem;
      font-family: 'Avenir';
    }
  
    .text-divider{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
      padding-top: 2%;
    }
    .band-text-one p{
      width: 90%;
      font-family: 'Avenir';
    }
  
    .gallery-main h2{
      font-size: 2.2rem;
      font-family: 'Avenir';
    }
  
    .home-gallery{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: 100%;
      justify-content: center; /* center horizontally */
      align-items: center; /* center vertically */
    }
  
    footer{
      display: flex;
      flex-direction: column;
    }
    .inside-footer{
      margin: -5% -2% 0 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .foot-bar-main{
      display: flex;
      flex-direction: row;
  
    }
    .foot-bar-main img{
      padding-left: 5%;
      margin: 0;
      width: 3.688rem;
      height: 4.375rem;
    }
  
    .foot-bar-middle{
      width: 100rem;
      text-align: left;
      margin-left: -2.5%;
    }
    .foot-bar-middle p{
      width: 100%;
      padding-top: 2%;
      font-family: 'Avenir';
    }
  
    #max-width{
      width: 14rem;
      margin-top: -3%;
    }
    #america-szn{
      width: 100%;
      margin-top: -6%;
    }
    #spc-width{
      width: 50%;
    }
    #max-width-addy{
      width: 80%;
    }
    .foot-bar-last img{
      position: absolute;
      top: 146.5rem;
      right: 3rem;
    }
    #email-fix{
      padding-right: 2.813rem;
      padding-left: -0.625rem;
    }
  }

@media only screen and (min-width:1280px) and (max-width: 2900px) {
    body {
        font-family: "Avenir";
        font-size: 0.875rem;
        font-weight: Regular 400;
        line-height: 1.375rem;
        }
    .main-nav-home {
        display: flex;
        flex-direction: row;
        padding: 0% 2% 0% 4%;
        width: 100%;
        }
        .main-nav-home img {
        margin-bottom: 2%;
        width: 10%;
        }
        .nav-text {
        display: flex;
        width: 20%;
        margin-left: 5%;
        }
        .nav-text a {
        font-size: 1.5rem;
        padding-bottom: 10%;
        font-family: "Avenir";
        }
        .jumbo-hero {
        position: absolute;
        top: 38%;
        left: -14%;
        width: 100%;
        font-size: 3.75rem;
        color: #FAFAFA;
        font-weight: bold 700;
        line-height: 4.25rem;
        }
        .start-text h2 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
        margin-left: -7%;
        }
        .middle-section {
        margin: 2% 13% 1% 13%;
        }
        .text-divider {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding-top: 2%;
        }
        .band-text-one p {
        text-align: left;
        width: 74%;
        font-family: "Avenir";
        }
        .band-information h2{
        display: block; 
        margin-top: 3%; 
        width: 100%;
        font-size: 1.5rem;
        font-weight: Demi 600;
        line-height: 2rem;
        }
        #sub-title{
        font-size: 1.5rem;
        font-weight: Demi 600;
        line-height: 2rem;
        }
        span {
        display: inline-block; 
        margin-right: 10px; 
        }
        .gallery-main h2 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
        }

        .home-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 100%;
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
        }
        footer {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        font-weight: Regular 400;
        line-height: 1.25rem;
        }
        .foot-bar-main h2{
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
        }
        .inside-footer {
        margin: -7% -2% 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        }
        .foot-bar-main {
        display: flex;
        flex-direction: row;
        }
        .foot-bar-main img {
        padding-left: 5%;
        margin: 0;
        width: 3.688rem;
        height: 4.375rem;
        }
        .foot-bar-middle {
        width: 100rem;
        text-align: left;
        margin-left: -2.5%;
        }
        .foot-bar-middle p {
        width: 100%;
        padding-top: 2%;
        font-family: "Avenir";
        }
        #max-width {
        width: 14rem;
        margin-top: -5%;
        }
        #america-szn {
        width: 100%;
        margin-top: -6%;
        }
        #spc-width {
        width: 50%;
        }
        #max-width-addy {
        width: 80%;
        }
        .foot-bar-last img {
        position: absolute;
        top: 255rem;
        right: 7rem;
        }
        #email-fix {
        padding-right: 2.813rem;
        padding-left: -0.625rem;
        }
}